<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imagem Centralizada</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        img {
            width: 100%;

        }
    </style>
</head>

<body>
    <img src="https://telegra.ph/file/78df709b78e5da046bb2c.jpg" alt="Imagem">
</body>

</html>